html {
  background: linear-gradient(to bottom, rgb(134, 148, 247), rgb(252, 253, 254));
  font-family: 'Open Sans', sans-serif;
  height: 2000px;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-align: center;
}

#input-items-container {
  text-align: center;
}

input {
  border: 1px solid black;
}

input:hover {
  border: 1px solid magenta;
}

@media screen and (max-width: 500px) { /* for smartphones */
  input, select {
    display: block;
    margin: auto;
    width: 200px;
  }
}

#submit-button {
  background-color: rgb(160, 236, 175);
}

#submit-button:hover {
  background-color: rgb(42, 203, 254);
  cursor: pointer;
}

#sort-items-button, #top-of-page-button {
  background-color: rgb(207, 244, 245);
}

#sort-items-button:hover, #top-of-page-button:hover {
  background-color: rgb(142, 223, 223);
  cursor: pointer;
}

#item-status-message {
  font-size: 24px;
  font-style: italic;
  margin: 30px auto;
  text-align: center;
}

#items-master-container {
  border: 1px solid black;
  margin: 50px auto;
  min-height: 400px;
  padding: 0 10px;
}

.each-idea-container {
  background-color: white;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.delete-button, #delete-all-items-button {
  background-color: rgb(219, 101, 93);
}

.delete-button:hover, #delete-all-items-button:hover {
  background-color: rgb(238, 73, 20);
  cursor: pointer;
}
