h1 {
  text-align: center;
}

#input-items-container {
  text-align: center;
}

#title-input, #body-input {
  border: 1px solid black;
}

#no-ideas-message {
  font-size: 24px;
  margin: 30px auto;
  text-align: center;
}

#ideas-master-container {
  border: 1px solid black;
  margin: 50px auto;
  min-height: 400px;
}

.each-idea-container {
  border: 1px solid black;
  margin: 20px auto;
  text-align: center;
}
