#input-items-container {
  text-align: center;
}

#title-input, #body-input {
  border: 1px solid black;
}

#ideas-master-container {
  border: 1px solid black;
  margin: 50px auto;
  min-height: 400px;
}
